*{
    padding: 0;
    margin: 0;
}



body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

header {
    background-color: #4B0082;
    color: #fff;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease; /* Transición suave en el fondo */
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    margin: 0;
}

header:hover {
    background-color: rgb(128, 128, 255);
    transition: background-color 0.3s ease;
}


.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

.menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 0 10px;
    color: #343a40; /* Dark color for text */
    background-color: #fff; /* White background color */
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #e9ecef;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    margin-top: 20vh;
}

.logo-image {
    max-width: 100%;
    max-height: 100%;
}

.logout-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 16vh;
    right: 15px;
}


.paciente {
    margin-bottom: 10px;
}

.paciente input[type="radio"] {
    display: none;
}

.paciente label {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 16px;
}

.paciente .icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #ccc;
}

.paciente input[type="radio"]:checked + label .icon {
    background-color: #007bff;
}


.paciente .icon::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    margin: 3px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.paciente input[type="radio"]:checked + label .icon::after {
    opacity: 1;
}

.select-option {
    padding: 8px 12px;
    cursor: pointer;
    border: 1px solid black;

}

.select-option:hover {
    background-color: #f0f0f0;
}

.select-option.active {
    background-color: #007bff;
    color: #fff;
}

.custom-select-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-top: none;
    border-radius: 0 0 4px 4px;
    z-index: 1;
    overflow-y: auto;
}

.custom-select-options.active {
    display: block;
}

.custom-select-option {
    padding: 8px 12px;
    cursor: pointer;
}

.custom-select-option:hover {
    background-color: #f1f1f1;
}
.profile-container {
    position: absolute;
    top: 16vh;
    flex-direction: column;
    align-items: flex-start;
    left: 1vh;
    padding: 15px;
    background-color: #f3f3f3;
    width: 15%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-container h3 {
    margin: 5px 0;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.profile-container h3:first-child {
    color: #007bff;
}


.profile-container h3:last-child {
    color: #28a745;
}

@media (max-width: 768px) {
    .logout-button {
        padding: 10px 20px;
        font-size: 1em;
        top: 17vh;
        right: 10px;
        width: auto;
        max-width: 150px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    .menu {
        margin-top: 10vh;
        flex-direction: column;
        align-items: stretch;
    }

    .menu a {

        margin: 10px 0;
        padding: 15px;
    }

    .logo-container {
        margin-top: 10vh;
    }
    .profile-container {
        display: flex;
        position: relative;
        width: 30%;
        top: 0;
    }
}


