<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

{{> slidebar}}

<div class="content">
    <a class="btn btn-warning btn-volver" href="/homeUsuario">Home</a>
    <h1 class="mb-4">ABM Registro Centro Quirúrgico</h1>

</div>