{{> slidebar}}
<div class="content">
    <a class="btn btn-warning btn-volver" href="/homeUsuario">Home</a>
    <h1 class="mb-4">ABM Registro Centro Quirúrgico</h1>


    <section id="nuevo-diagnostico">
        <h2>Acto Quirurgico</h2>
        <div class="d-flex justify-content-end mb-3">
            <a class="btn btn-danger me-2" href="/diagnostico/editarDiagnostico">Eliminar</a>
            <a class="btn btn-primary me-2" href="/diagnostico/editarDiagnostico">Editar</a>
            <a class="btn btn-success" href="/actoQuirurgico/irANuevoActoQuirurgico">Nuevo Acto quirurgico</a>
        </div>

    </section>
</div>
