<div class="content">
    <div class="container mt-5">
        <h1 class="text-center mb-4">Comentario Enviado</h1>
        <div class="alert alert-success" role="alert">
            ¡Tu comentario ha sido enviado con éxito!
        </div>
        <div class="text-center mt-4">
            <a href="/homeUsuario" class="btn btn-primary">Volver al home</a>
        </div>
    </div>
</div>