<style>
    .detalle{
        border: 1px solid black ;
        padding: 10px;
    }

</style>
<div class="container">
    <h2>Detalles de la Cirugía</h2>
    <div class="row">
        <div class="col-md-6 detalle">
            <h4>Información General</h4>
            <p><strong>ID Quirúrgico: {{id}}</strong> </p>
            <p><strong>Fecha de Cirugía: {{fecha}}</strong> </p>
            <p><strong>Paciente: {{paciente}}</strong> </p>
            <p><strong>DNI: {{dni}}</strong> </p>
        </div>
        <div class="col-md-6 detalle">
            <h4>Diagnósticos</h4>
            <p><strong>Diagnóstico Primario: {{primario}}</strong> </p>
            <p><strong>Diagnóstico Secundario: {{secundario}}</strong> </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 detalle">
            <h4>Especialidades</h4>
            <p><strong>Especialidad Quirúrgica Principal: {{especialidad}}</strong> </p>
            <p><strong>Especialidad Quirúrgica Secundaria: {{especialidad2}}</strong> </p>
            <p><strong>Especialidad Quirúrgica Terciaria: {{especialidad3}}</strong> </p>
        </div>
        <div class="col-md-6 detalle">
            <h4>Actos Quirúrgicos</h4>
            <p><strong>Acto Quirúrgico Principal: {{acto}}</strong> </p>
            <p><strong>Acto Quirúrgico Secundario: {{acto2}}</strong> </p>
            <p><strong>Acto Quirúrgico Terciario: {{acto3}}</strong> </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 detalle">
            <h4>Equipo Médico</h4>
            <p><strong>Cirujano: {{cirujano}}</strong> </p>
            <p><strong>Cirujano (2): {{cirujano2}}</strong> </p>
            <p><strong>Cirujano (3): {{cirujano3}}</strong> </p>
            <p><strong>Anestesista: {{anestesista}}</strong> </p>
            <p><strong>Instrumentador Quirúrgico: {{instrumentador}}</strong> </p>
            <p><strong>Técnico: {{tecnico}}</strong> </p>
            <p><strong>Primer Ayudante: {{primerAyudante}}</strong> </p>
            <p><strong>Segundo Ayudante: {{segundoAyudante}}</strong> </p>
            <p><strong>Primer Ayudante (2): {{primerAyudante2}}</strong> </p>
            <p><strong>Segundo Ayudante (2): {{segundoAyudante2}}</strong> </p>
            <p><strong>Primer Ayudante (3): {{primerAyudante3}}</strong> </p>
            <p><strong>Segundo Ayudante (3): {{segundoAyudante3}}</strong> </p>
            <p><strong>Neonatólogo: {{neonatologo}}</strong> </p>
            <p><strong>Circulante: {{circulante}}</strong> </p>
        </div>
        <div class="col-md-6 detalle">
            <h4>Horarios</h4>
            <p><strong>Hora de Inicio: {{horaInicio}}</strong> </p>
            <p><strong>Hora de Fin: {{horaFin}}</strong> </p>
            <p><strong>Hora de egreso Centro quirurgico: {{horaEgreso}}</strong> </p>
            <p><strong>Hora de nacimiento: {{horaDeNacimiento}}</strong> </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 detalle">
            <h4>Detalles Adicionales</h4>
            <p><strong>Observación: {{observacion}}</strong> </p>
            <p><strong>Tipo de Anestesia: {{tipoAnestesia}}</strong> </p>
            <p><strong>Tipo de Cirugía: {{tipoCirugia}}</strong> </p>
            <p><strong>Sitio Anatómico Principal: {{sitioAnatomico}}</strong> </p>
            <p><strong>Sitio Anatómico Secundario: {{sitioAnatomico2}}</strong> </p>
            <p><strong>Sitio Anatómico Terciario: {{sitioAnatomico3}}</strong> </p>
            <p><strong>Numero de quirofano: {{nroQuirofano}}</strong> </p>
        </div>
        <div class="col-md-6 detalle">
            <h4>Unidades Funcionales y Caja quirurgica</h4>
            <p><strong>Unidad Funcional Principal: {{unidadFuncional}}</strong> </p>
            <p><strong>Unidad Funcional Secundaria: {{unidadFuncional2}}</strong> </p>
            <p><strong>Unidad Funcional Terciaria: {{unidadFuncional3}}</strong> </p>
            <p><strong>Caja Quirúrgica Principal: {{caja}}</strong> </p>
            <p><strong>Caja Quirúrgica Secundaria: {{caja2}}</strong> </p>
            <p><strong>Caja Quirúrgica Terciaria: {{caja3}}</strong> </p>
            <p><strong>Caja Quirúrgica Cuartaria: {{caja4}}</strong> </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 detalle">
            <h4>Materiales y Tecnología</h4>
            <p><strong>Material Protésico:</strong> </p>
            <p><strong>Cantidad Material Protésico:</strong> </p>
            <p><strong>Material Protésico (2):</strong> </p>
            <p><strong>Cantidad Material Protésico (2):</strong> </p>
            <p><strong>Material Protésico (3):</strong> </p>
            <p><strong>Cantidad Material Protésico (3):</strong> </p>
            <p><strong>Tecnología Usada: {{tecnologia}}</strong> </p>

        </div>
        <div class="col-md-6 detalle">
            <h4>Otros Detalles</h4>
            <p><strong>ASA: {{asa}}</strong> </p>
            <p><strong>Proviene de:</strong> </p>
            <p><strong>Egresa a:</strong></p>
            <p><strong>Conteo: {{conteo}}</strong> </p>
            <p><strong>Radiograma: {{radiograma}}</strong> </p>
            <p><strong>Hemoterapia: {{hemoterapia}}</strong> </p>
            <p><strong>Cultivo: {{cultivo}}</strong> </p>
            <p><strong>Anatomía Patológica: {{anatomia}}</strong> </p>
            <p><strong>Código de Prácticas Principal: {{codigoPractica}}</strong> </p>
            <p><strong>Código de Prácticas Secundario: {{codigoPractica2}}</strong> </p>
            <p><strong>Código de Prácticas Terciario: {{codigoPractica3}}</strong> </p>
        </div>
    </div>

    <div class="mt-4">
        <a href="/listaCirugias" class="btn btn-secondary">Volver a la Lista</a>
    </div>
</div>
