<style>
    .detalle{
        border: 1px solid black ;
        padding: 10px;
    }

</style>
<div class="container">
    <h2>Detalles de la Cirugía</h2>
    <div class="row">
        <div class="col-md-6 detalle">
            <h4>Información General</h4>
            <p><strong>ID Quirúrgico:</strong> </p>
            <p><strong>Fecha de Cirugía: {{fecha}}</strong> </p>
            <p><strong>Paciente: {{paciente}}</strong> </p>
            <p><strong>DNI:</strong> </p>
        </div>
        <div class="col-md-6 detalle">
            <h4>Diagnósticos</h4>
            <p><strong>Diagnóstico Primario: {{primario}}</strong> </p>
            <p><strong>Diagnóstico Secundario: {{secundario}}</strong> </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 detalle">
            <h4>Especialidades</h4>
            <p><strong>Especialidad Quirúrgica Principal: {{especialidad}}</strong> </p>
            <p><strong>Especialidad Quirúrgica Secundaria: {{especialidad2}}</strong> </p>
            <p><strong>Especialidad Quirúrgica Terciaria: {{especialidad3}}</strong> </p>
        </div>
        <div class="col-md-6 detalle">
            <h4>Actos Quirúrgicos</h4>
            <p><strong>Acto Quirúrgico Principal: {{acto}}</strong> </p>
            <p><strong>Acto Quirúrgico Secundario: {{acto2}}</strong> </p>
            <p><strong>Acto Quirúrgico Terciario: {{acto3}}</strong> </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 detalle">
            <h4>Equipo Médico</h4>
            <p><strong>Cirujano:</strong> </p>
            <p><strong>Anestesista:</strong> </p>
            <p><strong>Instrumentador Quirúrgico:</strong> </p>
            <p><strong>Técnico:</strong> </p>
            <p><strong>Primer Ayudante:</strong> </p>
            <p><strong>Segundo Ayudante:</strong> </p>
            <p><strong>Neonatólogo:</strong> </p>
            <p><strong>Circulante:</strong> </p>
        </div>
        <div class="col-md-6 detalle">
            <h4>Horarios</h4>
            <p><strong>Hora de Inicio: {{horaInicio}}</strong> </p>
            <p><strong>Hora de Fin: {{horaFin}}</strong> </p>
            <p><strong>Hora de egreso Centro quirurgico: {{horaEgreso}}</strong> </p>
            <p><strong>Hora de nacimiento: {{horaDeNacimiento}}</strong> </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 detalle">
            <h4>Detalles Adicionales</h4>
            <p><strong>Observación: {{observacion}}</strong> </p>
            <p><strong>Tipo de Anestesia:</strong> </p>
            <p><strong>Tipo de Cirugía:</strong> </p>
            <p><strong>Sitio Anatómico Principal:</strong> </p>
            <p><strong>Sitio Anatómico Secundario:</strong> </p>
            <p><strong>Sitio Anatómico Terciario:</strong> </p>
            <p><strong>Numero de quirofano: {{nroQuirofano}}</strong> </p>
        </div>
        <div class="col-md-6 detalle">
            <h4>Unidades Funcionales</h4>
            <p><strong>Unidad Funcional Principal:</strong> </p>
            <p><strong>Unidad Funcional Secundaria:</strong> </p>
            <p><strong>Unidad Funcional Terciaria:</strong> </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 detalle">
            <h4>Materiales y Tecnología</h4>
            <p><strong>Material Protésico:</strong> </p>
            <p><strong>Tecnología Usada:</strong> </p>
            <p><strong>Caja Quirúrgica Principal:</strong> </p>
            <p><strong>Caja Quirúrgica Secundaria:</strong> </p>
            <p><strong>Caja Quirúrgica Terciaria:</strong> </p>
            <p><strong>Caja Quirúrgica Cuartaria:</strong> </p>
        </div>
        <div class="col-md-6 detalle">
            <h4>Otros Detalles</h4>
            <p><strong>ASA: {{asa}}</strong> </p>
            <p><strong>Proviene de:</strong> </p>
            <p><strong>Egresa a:</strong></p>
            <p><strong>Conteo: {{conteo}}</strong> </p>
            <p><strong>Radiograma: {{radiograma}}</strong> </p>
            <p><strong>Hemoterapia: {{hemoterapia}}</strong> </p>
            <p><strong>Cultivo: {{cultivo}}</strong> </p>
            <p><strong>Anatomía Patológica: {{anatomia}}</strong> </p>
            <p><strong>Código de Prácticas Principal:</strong> </p>
            <p><strong>Código de Prácticas Secundario:</strong> </p>
            <p><strong>Código de Prácticas Terciario:</strong> </p>
        </div>
    </div>

    <div class="mt-4">
        <a href="/listaCirugias" class="btn btn-secondary">Volver a la Lista</a>
    </div>
</div>
