{{> slidebar}}
<div class="content">
    <button class="btn btn-warning btn-volver" onclick="window.history.back();">Volver</button>
    <h1 class="mb-4">ABM Registro Centro Quirúrgico</h1>

    <!-- Sección de Nuevo Diagnóstico -->
    <section id="nuevo-diagnostico">
        <h2>Nuevo Diagnóstico</h2>
        <form action="/centroQuirurgico/diagnostico/insertarDiagnostico" method="post" name="diagnosticos" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="diagnostico" class="form-label">Nombre del Diagnóstico</label>
                <input type="text" class="form-control" id="diagnostico"  name="diagnostico" placeholder="Ingrese el nombre del diagnóstico">
            </div>
            <div class="d-flex justify-content-end mb-3">
                <button type="submit" class="btn btn-success">Guardar Diagnóstico</button>
            </div>
        </form>
    </section>
</div>