
{{> slidebar}}
<div class="content">
    <a class="btn btn-warning btn-volver" href="/centroQuirurgico/homeUsuario">Home</a>
    <h1 class="mb-4">ABM Registro Centro Quirúrgico</h1>

    <!-- Sección de Nuevo Diagnóstico -->
    <section id="nuevo-diagnostico">
        <h2>Nuevo Diagnóstico</h2>
        <div class="d-flex justify-content-end mb-3">
            <a class="btn btn-danger me-2" href="/centroQuirurgico/diagnostico/editarDiagnostico">Eliminar</a>
            <a class="btn btn-primary me-2" href="/centroQuirurgico/diagnostico/editarDiagnostico">Editar</a>
            <a class="btn btn-success" href="/centroQuirurgico/diagnostico/nuevoDiagnostico">Nuevo Diagnóstico</a>
        </div>

    </section>
</div>

