


<div class="container mt-5">
    <form id="formularioCirugia" action="@{/quirurgico/saveFormulario}" method="post" autocomplete="off">

        <div class="form-group">
            <label for="dni">DNI</label>
            <input type="text" id="dni" class="form-control" placeholder="Ingrese el DNI">
        </div>
        <button type="button" class="btn btn-primary" onclick="buscarPorDNI()">Buscar</button>

        <div id="resultadosContainer" class="mt-3"></div>
        <input type="hidden" id="pacienteIdInput" name="pacienteId" value="">



        <div class="mb-3">
            <h2>Información del Paciente</h2>
            <div class="form-group">
                <label for="fechaCirugia">Fecha de Cirugía:</label>
                <input type="date" class="form-control" id="fechaCirugia" name="fechaCirugia" required>
            </div>

            <div class="form-group">
                <label for="diagnostico">Diagnóstico primario</label>
                <input type="text" id="filtroPrimario" class="form-control" placeholder="Escribe y te van apareciendo opciones" required>
                <div id="opcionesPrimario" class="opciones-primario"></div>
                <input type="hidden" id="primarioSeleccionado" name="primario.idDiagnostico">
            </div>

            <div class="form-group">
                <label for="diagnostico">Diagnóstico Secundario</label>
                <input type="text" id="filtroSecundario" class="form-control" placeholder="Escribe y te van apareciendo opciones">
                <div id="opcionesSecundario" class="opciones-secundario"></div>
                <input type="hidden" id="secundarioSeleccionado" name="secundario.idDiagnostico">
            </div>

            <div class="form-group">
                <label for="asa">Asa</label>
                <select class="form-control" id="asa" name="asa">
                    <option value="0">Seleccionar</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>

            <div class="form-group">
                <label for="espQuirurgica">Especialidad quirurgica</label>
                <select class="form-control" id="espQuirurgica" name="espQuirurgica.idEspQuirurgica" required>
                    <option value="0">Seleccionar</option>
                    <option each="espQuirurgica : ${especialidadQuirurgica}" value="${espQuirurgica.idEspQuirurgica}" text="${espQuirurgica.nombre}" ></option>

                </select>
            </div>
        </div>
    </form>
    </div>