<div class="container">
    <h1>Formulario Quirúrgico</h1>
    <div action="/quirurgico/guardarDatos" method="post">
        {{#data}}
            <input type="hidden" name="paciente" value="{{paciente}}">

            <div class="form-group">
                <label for="diagnostico">Diagnóstico Primario</label>
                <input type="text" id="filtroPrimario" class="form-control" placeholder="Escribe y te van apareciendo opciones" autocomplete="off">
                <div id="opcionesPrimario" class="opciones-primario">
                    <!-- Aquí se mostrarán las opciones -->
                </div>
                <input type="hidden" id="primarioSeleccionado" name="primario" value="">
            </div>

            <div class="form-group">
                <label for="diagnostico">Diagnóstico Secundario</label>
                <input type="text" id="filtroSecundario" class="form-control" placeholder="Escribe y te van apareciendo opciones" autocomplete="off">
                <div id="opcionesSecundario" class="opciones-secundario">
                    <!-- Aquí se mostrarán las opciones -->
                </div>
                <input type="hidden" id="secundarioSeleccionado" name="secundario" value="">
            </div>





            <div class="form-group">
                <label for="asa">Asa</label>
                <select class="form-control" id="asa" name="asa">
                    <option value="0">Seleccionar</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>

            <div class="form-group">
                <label for="espQuirurgica">Especialidad quirúrgica</label>
                <select class="form-control" id="espQuirurgica" name="espQuirurgica.idEspQuirurgica" required>
                    <option value="0">Seleccionar</option>
                    {{#espquirurgica}}
                        <option value="{{idEspQuirurgica}}">{{nombre}}</option>
                    {{/espquirurgica}}
                </select>
            </div>
            <div class="form-group">
                <label for="unidadFuncional">Unidad funcional</label>
                <select class="form-control" id="unidadFuncional" name="unidadFuncional.idUnidadFuncional" required>
                    <option value="0">Seleccionar</option>
                </select>
                <input type="hidden" id="idUnidadFuncionalSeleccionada" name="idUnidadFuncionalSeleccionada" value="">
            </div>
            <div class="mb-3">
                <label for="sitioAnatomico">Sitio Anatomico</label>
                <select class="form-control" id="sitioAnatomico" name="sitioAnatomico.idSitioAnatomico" required>
                    <option value="0">Seleccionar</option>
                    <option></option>

                </select>
            </div>
        {{/data}}

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
</div>


