<div class="container">

    <h1>Formulario Quirúrgico</h1>
    <a href="/homeUsuario" class="btn btn-warning mb-3">Volver</a>
    <form action="/formulario/insertarDatos" method="post" enctype="multipart/form-data">
        {{#data}}
            <input type="hidden" name="paciente" value="{{paciente}}">
            <div class="form-group">
                <label for="fechaCirugia" style="background: yellow">Fecha de Cirugía:</label>
                <input type="date" class="form-control" id="fechaCirugia" name="fechaCirugia" required>
            </div>
            <div class="form-group">
                <label for="diagnostico" style="background: yellow">Diagnóstico Primario</label>
                <input type="text" id="filtroPrimario" class="form-control" placeholder="Escribe y te van apareciendo opciones" autocomplete="off" required>
                <div id="opcionesPrimario" class="opciones-primario">

                </div>
                <input type="hidden" id="primarioSeleccionado" name="primario">
            </div>

            <div class="form-group">
                <label for="diagnostico">Diagnóstico Secundario</label>
                <input type="text" id="filtroSecundario" class="form-control" placeholder="Escribe y te van apareciendo opciones" autocomplete="off">
                <div id="opcionesSecundario" class="opciones-secundario">

                </div>
                <input type="hidden" id="secundarioSeleccionado" name="secundario">
            </div>

            <div class="form-group">
                <label for="asa">Asa</label>
                <select class="form-control" id="asa" name="asa">
                    <option value="0">Seleccionar</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>

            <div id="field-container" class="field-container mt-3">
                <div class="form-group">
                    <label for="espQuirurgica_0" class="espQuirurgicaLabel" style="background: yellow" >Especialidad quirúrgica 1</label>
                    <select class="form-control espQuirurgica" id="espQuirurgica_0" name="espQuirurgica_0" required>
                        <option value="0">Seleccionar</option>
                        {{#espquirurgica}}
                            <option value="{{id}}">{{nombre}}</option>
                        {{/espquirurgica}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="unidadFuncional_0" class="unidadFuncionalLabel" style="background: yellow">Unidad funcional 1</label>
                    <select class="form-control unidadFuncional" id="unidadFuncional_0" name="idUnidadFuncional_0" required>
                        <option value="0">Seleccionar</option>
                    </select>
                    <input type="hidden" class="idUnidadFuncionalSeleccionada" id="idUnidadFuncionalSeleccionada_0" name="idUnidadFuncionalSeleccionada_0">
                </div>
                <div class="mb-3">
                    <label for="sitioAnatomico_0" class="sitioAnatomicoLabel" style="background: yellow">Sitio Anatomico 1</label>
                    <select class="form-control sitioAnatomico" id="sitioAnatomico_0" name="idSitioAnatomico_0" required>
                        <option value="0">Seleccionar</option>
                    </select>
                    <input type="hidden" class="idSitioAnatomicoSeleccionada" id="idSitioAnatomicoSeleccionada_0" name="idSitioAnatomicoSeleccionada_0" value="">
                </div>

            <div class="form-group">
                <label for="actoQuirurgico_0" class="actoQuirurgicoLabel" style="background: yellow">Acto Quirúrgico 1</label>
                <select class="form-control actoQuirurgico" id="actoQuirurgico_0" name="actoQuirurgico_0" required>
                    <option value="0">Seleccionar</option>
                </select>
                <input type="hidden" class="idActoQuirurgicoSeleccionado" id="idActoQuirurgicoSeleccionado_0" name="idActoQuirurgicoSeleccionado_0">
            </div>
            </div>
        <style>
            .field-container {
            background-color: white;
            padding: 15px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            }
            .additional-fields form-group label {
                background: white;
            }
        </style>
            <div id="additional-fields"></div>


            <div class="form-group ">
                <label for="detalleCirugia">Observación de la cirugia:</label>
                <textarea class="form-control" id="detalle" name="detalle" rows="4"></textarea>
            </div>



            <div id="field-container-cirujanos" class="field-container mt-3">
                <div class="form-group">
                    <label for="cirujano_0" class="cirujanoLabel" style="background: yellow">Cirujano</label>
                    <input type="text" id="filtroCirujano_0" class="form-control filtroCirujano" placeholder="Escribe y te van apareciendo opciones" required autocomplete="off">
                    <div id="opcionesCirujano_0" class="opcion-cirujano"></div>
                    <input type="hidden" id="cirujanoSeleccionado_0" name="cirujanoSeleccionado_0">
                </div>

                <div class="form-group">
                    <label for="ayudante1_0" class="primerAyudanteLabel">Primer ayudante</label>
                    <input type="text" id="filtroPrimer_0" class="form-control filtroPrimer" placeholder="Escribe y te van apareciendo opciones" autocomplete="off">
                    <div id="opcionesPrimer_0" class="opcion-primer"></div>
                    <input type="hidden" id="primerSeleccionado_0" name="primerSeleccionado_0">
                </div>

                <div class="form-group">
                    <label for="ayudante2_0" class="segundoAyudanteLabel">Segundo ayudante</label>
                    <input type="text" id="filtroSegundo_0" class="form-control filtroSegundo" placeholder="Escribe y te van apareciendo opciones" autocomplete="off">
                    <div id="opcionesSegundo_0" class="opcion-segundo"></div>
                    <input type="hidden" id="segundoSeleccionado_0" name="segundoSeleccionado_0">
                </div>
            </div>
            <div id="additional-fields-cirujanos"></div>

            <div class="form-group">
                <label for="anestesista" style="background: yellow">Anestesista</label>
                <input type="text" id="filtroAnestesista" class="form-control" placeholder="Escribe y te van apareciendo opciones" required autocomplete="off">
                <div id="opcionesAnestesista" class="opcion-anestesista" ></div>
                <input type="hidden" id="anestesistaSeleccionado" name="anestesistaSeleccionado" >
            </div>

            <div class="form-group">
            <label for="neonatologo">Neonatólogo</label>
            <input type="text" id="filtroNeo" class="form-control" placeholder="Escribe y te van apareciendo opciones" autocomplete="off">
            <div id="opcionesNeo" class="opcion-neo"></div>
            <input type="hidden" id="neoSeleccionado" name="neoSeleccionado" autocomplete="off">
        </div>

            <div class="form-group">
                <label for="instrumentador">Instrumentador</label>
                <input type="text" id="filtroInstrumentador" class="form-control" placeholder="Escribe y te van apareciendo opciones" autocomplete="off">
                <div id="opcionesInstrumentador" class="opcion-instrumentador"></div>
                <input type="hidden" id="instrumentadorSeleccionado" name="instrumentadorSeleccionado" autocomplete="off">
            </div>

            <div class="form-group" >
                <label for="circulante" style="background: yellow">Circulante</label>
                <input type="text" id="filtroCirculante" class="form-control" placeholder="Escribe y te van apareciendo opciones" autocomplete="off" required>
                <div id="opcionesCirculante" class="opcion-circulante"></div>
                <input type="hidden" id="circulanteSeleccionado" name="circulanteSeleccionado" autocomplete="off">

                </select>
            </div>

            <div class="form-group" >
                <label for="anestesiaTecnico" style="background: yellow">Técnico en Anestesia</label>
                <input type="text" id="filtroTecnico" class="form-control" placeholder="Escribe y te van apareciendo opciones" required autocomplete="off">
                <div id="opcionesTecnico" class="opcion-tecnico"></div>
                <input type="hidden" id="tecnicoSeleccionado" name="tecnicoSeleccionado"  >
            </div>

            <div class="form-group">
                <label for="anestesia" style="background: yellow" >Tipo de Anestesia</label>
                <select class="form-control" name="idTipoDeAnestesia" id="anestesia">
                    <option value="">Seleccionar</option>
                    {{#tipoAnestesia}}
                        <option value="{{id}}">{{nombre}}</option>
                    {{/tipoAnestesia}}
                </select>
            </div>
            <div class="form-group">
                <label for="horaIngresoQuirurgico" style="background: yellow">Hora de ingreso al centro quirurgico</label>
                <input type="time" class="form-control" name="horaIngresoAlCentroQuirurgico" id="horaIngresoAlCentroQuirurgico"
                       required>
            </div>
            <div class="form-group">
                <label for="horaInicioCirugia" style="background: yellow">Hora de inicio cirugia</label>
                <input type="time" class="form-control" name="horaInicio" id="horaInicioCirugia" required>
            </div>
            <div class="form-group">
                <label for="horaFinalizacion" style="background: yellow">Hora de finalizacion cirugia</label>
                <input type="time" class="form-control" name="horaFin" id="horaFinalizacionCirugia"
                       required>
            </div>
            <div class="form-group">
                <label for="horaEgreso" style="background: yellow">Hora de egreso del centro quirurgico</label>
                <input type="time" class="form-control" name="horaEgreso" id="horaEgreso" required>
            </div>
            <div class="form-group">
                <label for="horaNacimiento">Hora de nacimiento</label>
                <input type="time" class="form-control" name="horaNac" id="horaNacimiento">
            </div>
            <div class="form-group">
                <label for="proviene" style="background: yellow">Lugar de donde provino el paciente</label>
                <select class="form-control"  id="proviene" name="lugarProviene" required>
                    <option value="0"> Seleccionar</option>
                    {{#lugar}}
                        <option value="{{id}}">{{nombre}}</option>
                    {{/lugar}}
                </select>
            </div>
            <div class="form-group">
                <label for="egreso" style="background: yellow">Lugar a donde egreso el paciente</label>
                <select class="form-control" name="lugarEgreso" id="lugarEgreso" required>
                    <option value=""> Seleccionar</option>
                    {{#lugar}}
                        <option value="{{id}}">{{nombre}}</option>
                    {{/lugar}}
                </select>
            </div>
            <div id="additional-fields-caja">
                <div class="form-group" id="field-container-caja">
                    <label for="filtroCaja_0" class="cajaLabel">Código de Caja usada 1</label>
                    <input type="text" id="filtroCaja_0" name="filtroCaja_0" class="form-control filtroCaja" placeholder="Escribe y te van apareciendo opciones" autocomplete="off">
                    <div id="opcionesCaja_0" class="opcionesCaja"></div>
                    <input type="hidden" id="cajaSeleccionado_0" name="idCajaQuirurgica_0" class="cajaSeleccionado">
                </div>
            </div>

            <div class="form-group">
                <label for="nQuirofano" style="background: yellow" >N° quirofano usado</label>
                <select class="form-control" name="numeroQuirofano" id="numeroQuirofano" required>
                    <option value="">Seleccionar</option>
                    <option value="1"> 1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>
            <div class="form-group">
                <label for="conteo" style="background: yellow">Se realizo conteo?</label>
                <select class="form-control" name="conteo" id="conteo" required>
                    <option value="">Seleccionar</option>
                    <option value="1"> Si</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div class="form-group">
                <label for="radio" style="background: yellow">Radiografia control?</label>
                <select class="form-control" name="radiograma" id="radio">
                    <option value="">Seleccionar</option>
                    <option value="1"> Si</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div class="form-group">
                <label for="conteo" style="background: yellow">Hemoterapia?</label>
                <select class="form-control" name="hemoterapia" id="conteo">
                    <option value="">Seleccionar</option>
                    <option value="1"> Si</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div class="form-group">
                <label for="cultivo" style="background: yellow">Cultivo?</label>
                <select class="form-control" name="cultivo" id="cultivo">
                    <option value="">Seleccionar</option>
                    <option value="1"> Si</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div class="form-group">
                <label for="patagonico" style="background: yellow">Anatomia patologica?</label>
                <select class="form-control" name="anatomiaPatologica" id="patagonico">
                    <option value="">Seleccionar</option>
                    <option value="1"> Si</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div id="additional-fields-codigo">
                <div class="form-group" id="field-container-codigo">
                    <label for="filtroCodigo_0" class="codigoLabel">Codigo de práctica anestésica segun SPA 1</label>
                    <input type="text" id="filtroCodigo_0" name="filtroCodigo_0" class="form-control filtroCodigo" placeholder="Escribe y te van apareciendo opciones" autocomplete="off">
                    <div id="opcionesCodigo_0" class="opcionesCodigo"></div>
                    <input type="hidden" id="codigoSeleccionado_0" name="idCodigoSeleccionado_0" class="codigoSeleccionado">
                </div>
            </div>


            <div class="form-group">
                <label for="tipoCirugia" style="background: yellow">Tipo de cirugia</label>
                <select class="form-control" name="tipoCirugia" id="tipoCirugia"  required>
                    <option value="">Seleccionar</option>
                    {{#tipoCirugia}}
                        <option value="{{id}}">{{nombre}}</option>
                        {{/tipoCirugia}}

                </select>
            </div>
            <div class="form-group">
                <label for="tipoCirugia" style="background: yellow">Código módulo anestesia HCANK</label>
                <select class="form-control" name="moduloAnestesia" id="moduloAnestesia"  required>
                    <option value="">Seleccionar</option>
                    {{#moduloAnestesia}}
                        <option value="{{id}}">{{nombre}}</option>
                    {{/moduloAnestesia}}

                </select>
            </div>
            <div id="field-container-material" class="field-container mt-3">
                <div class="form-group">
                    <label for="opcionMaterial_0" class="materialLabel">Material protésico implantado usado</label>
                    <input type="text" id="filtroMaterial_0" class="form-control filtroMaterial" placeholder="Escribe y te van apareciendo opciones" autocomplete="off">
                    <div id="opcionesMaterial_0" class="opcion-material custom-select-option"></div>
                    <input type="hidden" id="materialSeleccionado_0" name="materialProtesico_0">
                </div>
                <div class="form-group">
                    <label for="cantidadMaterial_0" class="cantidadMaterialLabel">Cantidad de material protésico:</label>
                    <input type="number" class="form-control" id="cantidadMaterial_0" name="cantidadMaterial_0">
                </div>
            </div>
            <div id="additional-fields-material"></div>
        <div id="tecnologiasCheckboxContainer" >
            <h5 style="background: yellow">Tecnologias usadas</h5>

                <div>
                    {{#tecnologiaUsada}}
                        <input type="checkbox" name="tecnologiasUsadas[]" class="tecnologiaUsada" value="{{id}}"> {{nombre}}

                    {{/tecnologiaUsada}}
                </div>
            </div>


        {{/data}}

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/public/js/funciones.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var today = new Date();
        var day = String(today.getDate()).padStart(2, '0');
        var month = String(today.getMonth() + 1).padStart(2, '0');
        var year = today.getFullYear();
        var todayDate = year + '-' + month + '-' + day;
        document.getElementById('fechaCirugia').value = todayDate;
    });
</script>

