



<body>
<title>Home</title>
<header>
    <h1>Registro institucional de actos quirurgicos</h1>

</header>

<main>
    <section>
        <div class="menu">
            <a href="/quirurgico">
                <i class="fas fa-arrow-down fa-2x" ></i>
                <span>Registro De Cirugia</span>
            </a>

            <a href="/estadisticas">
                <i class="fas fa-arrow-up fa-2x"></i>
                <span>Estadisticas</span>
            </a>

            <a href="/opciones">
                <i class="fas fa-box fa-2x"></i>
                <span>Opciones</span>
            </a>


        </div>


        <div>
            <button class="logout-button">
                <a href="/homeUsuario/logout" style="color: white; text-decoration: none;">Cerrar sesión</a>
            </button>
        </div>




        <div class="logo-container">

            <img src="/img/Logo_HCANK_violeta.png" alt="Logo HCANK" class="logo-image">
        </div>
    </section>

</main>

</body>
</html>