



<body>
<title>Home</title>
<header>
    <h1>Registro institucional de actos quirurgicos</h1>

</header>

<main>
    <section>
        <div class="menu">
            <a href="/quirurgico" data-rol="ADMIN INSTRUMENTADOR ">
                <i class="fas fa-arrow-down fa-2x" ></i>
                <span>Registro De Cirugia</span>
            </a>

            <a href="/estadisticas" data-rol="ADMIN INSTRUMENTADOR ANESTESISTA">
                <i class="fas fa-arrow-up fa-2x"></i>
                <span>Estadisticas</span>
            </a>

            <a href="/opciones" data-rol="ADMIN">
                <i class="fas fa-box fa-2x" ></i>
                <span>Opciones</span>
            </a>


        </div>


        <div>
            <button class="logout-button">
                <a href="/homeUsuario/logout" style="color: white; text-decoration: none;">Cerrar sesión</a>
            </button>
        </div>

        <div class="profile-container">
            <h3>Perfil: {{rol}} </h3>
            <h3>Usuario: {{nombreUsuario}}</h3>
        </div>





        <div class="logo-container">

            <img src="/public/img/logo.png" alt="Logo HCANK" class="logo-image">
        </div>
    </section>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
    var rolesPermitidos = ["ADMIN","INSTRUMENTADOR","ANESTESISTA"];
    var rolUsuario = "{{rol}}";
    var elementosRol = document.querySelectorAll("[data-rol]");

    elementosRol.forEach(function(elemento) {
    var rolesElemento = elemento.getAttribute("data-rol").split(" ");
    if (!rolesElemento.includes(rolUsuario)) {

    elemento.style.display = "none";
    }

    });
    });
    </script>
</main>

</body>
</html>