<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="/centroQuirurgico/public/css/login.css">
</head>
<body>
<header class="log-in">
    <div class="header-logos">
        <img src="/public/img/logo.png" alt="Logo HCANK" class="logo-image">
        <h1 class="title-login">REGISTRO INSTITUCIONAL DE ACTOS QUIRURGICOS</h1>
    </div>
</header>
<main>
    <form action="/centroQuirurgico/login/login" method="post" autocomplete="off">
        <h2>Iniciar Sesión</h2>
        <label for="usuario">Usuario:</label>
        <input type="text" id="usuario" name="usuario" required><br><br>
        <label for="contraseña">Contraseña:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Iniciar Sesión">
    </form>




</main>
</body>
</html>