<div id="resultadosContainer" class="mt-3">
    {{#resultados}}

            <form action="/quirurgico/obtenerPacienteSeleccionado" method="post" enctype="multipart/form-data">
            <div class="paciente">
            <input type="radio" id="{{idPaciente}}" name="paciente" value="{{idPaciente}}">
            <label for="paciente{{id}}">
                <span class="icon"></span>
                <h5>{{dni}} {{nombre}} {{apellido}}</h5>
            </label>
    {{/resultados}}
</div>
                <button type="submit" class="btn btn-primary">Continuar</button>
            </form>


</div>
