<style>
.content {
margin-left: 250px;
padding: 20px;
}

.btn-trash {
color: #dc3545;
cursor: pointer;
}
</style>
</head>


<div class="sidebar">
    {{> slidebar}}
</div>


<div class="content">
    <div class="container mt-5">
        <div>
            <a href="/homeUsuario" class="btn btn-warning">Home</a>
        </div>
        <h1 class="text-center mb-4">Comentarios de Usuarios</h1>
        <div class="list-group mt-4">
            {{#comentarios}}
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Usuario: {{nombreUsuario}}</h5>
                        <small class="text-muted">{{fecha}}</small>
                        <form method="POST" action="/opciones/eliminarComentario" style="display:inline;">
                            <input type="hidden" name="idComentario" value="{{idComentario}}">
                            <button type="submit" class="btn btn-link btn-trash"  onclick="confirmarEliminacion({{idComentario}})">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>

                    </div>
                    <p class="mb-1">Comentario: {{comment}}</p>
                </div>
            {{/comentarios}}
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<script>
    function confirmarEliminacion(idComentario) {
        if (confirm('¿Estás seguro de que quieres eliminar este comentario?')) {
            document.getElementById('form-eliminar-' + idComentario).submit();
        }
    }
</script>
